# Project exclude paths
/86sdscomspider/images/
/meituricom/pics/
/plmmcomspider/images/
/quanshuwangcom_novel_spider/novels/
/meizitu/pics/
/meizitu/JOB_INFO/requests.queue/
/meizitu/JOB_INFO/requests.seen
/meizitu/JOB_INFO/spider.state
/xsnvshencom/pics/
/xiurenorg/pics/
/meitubacom/pics/
